.signup_body {
    background-color: #fafafa;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup_form {
    display: flex;
    align-items: center;
    justify-content: center;
}