.new-post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.new-post-form {
    border: 1px solid #D5C6E3;
    background-color: white;
    width: 500px;
    margin: 40px;
    margin-top: 60px;
    border-radius: 5px;
}

.new-post-imageUpload {
    width: 500px;
    padding: 20px;
    padding-bottom: 10px;
    border-top: 1px solid #d5c6e3;
}

.new-post-creator {
    display: flex;
    padding: 40px;
    padding-left: 60px;
    /* border-bottom: 1px solid #d5c6e3; */
}

.new-post-content {
    width: 500px;
    height: 40vh;
    padding: 20px;
    border-top: 1px solid #d5c6e3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-content {
    border: none;
    outline: none;
    width: 100vw;
    height: 30vh;
    word-break:break-all;
}

.creator-detail-username {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.username {
    font-size: 20px;
    font-style: inherit;
    font-weight: 500;
}

.date {
    font-style: inherit;
}