.post-image-container {
    height: 70vh;
}

.post-image {
    /* border: 1px solid #D5C6E3; */
    width: 498px;
    height: 498px;
}

.post-text {
    border-top: 1px solid #D5C6E3;
    border-bottom: 1px solid #D5C6E3;
    padding: 20px;

}

/* tile uploaded pictures */
.comment-action {
    padding-left: 8px;
    cursor: 'auto';
}

[class*='-col-rtl'] .comment-action {
    padding-right: 8px;
    padding-left: 0;
}

.post-content {
    border: 1px solid #D5C6E3;
    background-color: white;
    width: 500px;
    margin: 40px;
    margin-top: 60px;
    border-radius: 5px;
}

.post-header {
    border-bottom: 1px solid #D5C6E3;
}

/* .post-body {
    border: 1px solid black;
} */

.post-creator-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.post-creator-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.post-comment-container {
    padding: 20px;
}

.post-creator-infos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteButton {
    padding: 5px;
    cursor: pointer;
}