.posts-container {
    background-color: #fafafa;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* .flower-container {
    margin-top: 20px;
    margin-left: 30px;
    width: 20%;
    height: 50vh;
} */