.app-header {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.home {
    border: 1px solid black;
}

.menu {
    border: 1px solid black;
}

.nav-icon {
    padding: 10px;
    margin: 10px;
    max-width: 100px;
    height: 20px;
}
